<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>Web chat</title>

  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script type="text/javascript" src="lib/angular.min.js "></script>
  <script type="text/javascript" src="lib/jquery-1.11.3.min.js "></script>
  <script type="text/javascript" src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js "></script>
  <script type="text/javascript" src="js/constants.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/services.js "></script>
  <script type="text/javascript" src="js/directives.js "></script>

</head>

<body data-ng-app="webChat">

  <div class="container">
    <div data-ng-controller="LoginCtrl" class="row" data-ng-hide="loginScreenHidden">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="auth-fail alert alert-warning" role="alert" data-ng-hide="authFailureWarningHidden">Incorrect username or password.
          <br/>Please try again or register.</div>
        <h1 class="text-center login-title">Sign in to enter Webchat</h1>
        <div class="account-wall">
          <img class="avatar" src="css/img/default_avatar.png" alt="avatar image">
          <form class="form-login" data-ng-submit="login()">
            <input id="username" type="text" class="form-control" placeholder="Username" required data-ng-model="user.Username">
            <input id="password" type="password" class="form-control" placeholder="Password" required data-ng-model="user.Password">
            <button class="btn btn-lg btn-primary btn-block sign-in-btn" type="submit"> Sign in</button>
            <button class="btn btn-lg btn-secondary btn-block " data-ng-click="doregister() "> Register</button>
          </form>
        </div>

      </div>
    </div>
    <div data-ng-controller="RegisterCtrl" class="row" data-ng-hide="registerScreenHidden">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="reg-fail alert alert-warning" role="alert" data-ng-hide="userExistsWarningHidden">Username already exists.
          <br/>Please choose different username.</div>
        <h1 class="text-center login-title ">Would you like to register?</h1>
        <div class="account-wall">
          <img class="avatar" src="css/img/default_avatar.png" alt="avatar image">
          <form class="form-login" data-ng-submit="register() ">
            <input id="newusername" type="text" class="form-control" placeholder="Username" required data-ng-model="user.Username">
            <input id="newpassword" type="password" class="form-control" placeholder="Password" required data-ng-model="user.Password">
            <input class="form-control" placeholder="Nickname" data-ng-model="user.Nickname">
            <textarea class="form-control" rows="3" placeholder="Description" data-ng-model="user.Description"></textarea>
            <input class="form-control" placeholder="Avatar Url" data-ng-model="user.AvatarUrl">
            <button class="btn btn-lg btn-primary btn-block" type="submit"> Submit</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="chat-container">
    <div data-ng-controller="ChatRoomsCtrl" data-ng-hide="chatRoomsScreenHidden">

      <div class="side">
        <div>
          <ul class="subscribed-channels" data-ng-model="subscribedChannels">
            <li class="side-channel-row" data-ng-repeat="channel in subscribedChannels" data-ng-click="enterChannel(channel.ChannelName, subscribedChannels)" data-ng-class="{active: isActive(channel.ChannelName)}">
              <table>
                <tr>
                  <th colspan="5"> {{channel.ChannelName}} </th>
                </tr>
                <tr>
                  <td class="side-badges">
                    <span class="badge" data-ng-model="channel.NumberOfSubscribers"><img class="channel-icon" data-ng-src="css/img/glyphicons-group.png" alt="users" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />{{channel.NumberOfSubscribers}}</span>
                  </td>
                  <td class="side-badges">
                    <span class="badge"><img class="envelope-icon" data-ng-src="css/img/glyphicons-envelope.png" alt="msgs" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>{{channel.unreadMessages}}</span>
                  </td>
                  <td class="side-badges">
                    <span class="badge badge-mentioned"><img class="bell-icon" data-ng-src="css/img/glyphicons-bell.png" alt="users" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>{{channel.unreadMentionedMessages}}</span>
                  </td>
                  <td>
                    <data-button class="channel-control description"><img class="channel-control-icon" data-ng-src="css/img/glyphicons-info-sign.png" alt="usubscribe" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
                      <div class="description-content"> {{channel.Description}} </div>
                    </data-button>
                  </td>
                  <td>
                    <button class="channel-control" data-ng-click="unsubscribeChannel(channel.ChannelName)"><img class="channel-control-icon" data-ng-src="css/img/glyphicons-remove-sign.png" alt="usubscribe" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
                    </button>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <ul class="private-channels" data-ng-model="privateChannels">
            <li class="side-channel-row" data-ng-repeat="channel in privateChannels" data-ng-click="enterChannel(channel.ChannelName, privateChannels)" data-ng-class="{active: isActive(channel.ChannelName)}">
              <table>
                <tr>
                  <th colspan="5"> {{getPrivateChannelName(channel.ChannelName)}} <span class="label label-success">private</span></th>
                </tr>
                <tr>
                  <td class="side-badges">
                    <span class="badge" data-ng-model="channel.NumberOfSubscribers"><img class="channel-icon" data-ng-src="css/img/glyphicons-group.png" alt="users" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />{{channel.NumberOfSubscribers}}</span>
                  </td>
                  <td class="side-badges">
                    <span class="badge"><img class="envelope-icon" data-ng-src="css/img/glyphicons-envelope.png" alt="msgs" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>{{channel.unreadMessages}}</span>
                  </td>
                  <td class="side-badges">
                    <span class="badge badge-mentioned"><img class="bell-icon" data-ng-src="css/img/glyphicons-bell.png" alt="users" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>{{channel.unreadMentionedMessages}}</span>
                  </td>
                  <td>
                    <data-button class="channel-control description"><img class="channel-control-icon" data-ng-src="css/img/glyphicons-info-sign.png" alt="usubscribe" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
                      <div class="description-content"> {{channel.Description}} </div>
                    </data-button>
                  </td>
                  <td>
                    <button class="channel-control" data-ng-click="unsubscribeChannel(channel.ChannelName)"><img class="channel-control-icon" data-ng-src="css/img/glyphicons-remove-sign.png" alt="usubscribe" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
                    </button>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <ul class="users-online">
            <li data-ng-repeat="user in currentChannel.Users" data-ng-click="enterPrivateChannel(user.Username, user.Nickname)" data-ng-class="{active: isActive(user.Username)}">
              <table>
                <tr>
                  <td>
                    <img class="user-avatar-side" data-ng-src="{{user.AvatarUrl}}" alt="userpic" data-ng-model="user.AvatarUrl" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
                  </td>
                  <th> {{user.Nickname}} </th>
                  <td>
                    <data-button class="channel-control description"><img class="channel-control-icon" data-ng-src="css/img/glyphicons-info-sign.png" alt="description" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
                      <div class="description-content"> {{user.Description}} </div>
                    </data-button>

                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <ul class="public-channels" data-ng-model="publicChannels" data-ng-show="publicChannels.length">
            <li class="side-channel-row" data-ng-repeat="channel in publicChannels | filter:searchChannel" data-ng-click="enterChannel(channel.ChannelName, publicChannels)">
              <table>
                <tr>
                  <th colspan="2"> {{channel.ChannelName}} </th>
                </tr>
                <tr>
                  <td class="side-badges">
                    <span class="badge" data-ng-model="channel.NumberOfSubscribers"><img class="channel-icon" data-ng-src="css/img/glyphicons-group.png" alt="users" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />{{channel.NumberOfSubscribers}}</span>
                  </td>
                  <td>
                    <data-button class="channel-control description"><img class="channel-control-icon" data-ng-src="css/img/glyphicons-info-sign.png" alt="usubscribe" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" />
                      <div class="description-content"> {{channel.Description}} </div>
                    </data-button>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <input class="footer input-group form-control" type="text" name="search" placeholder="Search channel..." data-ng-model="query" data-ng-enter="discoverChannels(query);query=''" />
        </div>
      </div>

      <div id="chat-text" class="chat-text-area" scrolled-down-callback="downloadOnScroll">
        <data-discussion discussion="currentChannelThread" data-ng-model="currentChannelThread"></data-discussion>
        <footer class="footer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type your message here " data-ng-model="lastMessage" data-ng-enter="sendMessage(lastMessage);lastMessage=''" />
            <div class="input-group-btn">
              <button class="btn btn-primary btn-chat-send" type="submit" data-ng-click="sendMessage(lastMessage);lastMessage=''"> Send </button>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>

</html>