/* This are settings for login-form,
   the first screen user see when enters a chat */

.form-login {
  display: block;
  max-width: 320px;
  padding: 20px;
  margin: 0 auto;
}

.form-login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.form-login input[type="text"] {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.form-login input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login .sign-in-btn {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Login and registration forms has a box around, 
   this are settings for this box */

.account-wall {
  position: relative;
  margin-top: 50px;
  padding: 100px 0px 30px 0px;
  background-color: #D9D9D9;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}


/* Settings for auth and registation 
   warning message */

.auth-fail,
.reg-fail {
  position: absolute;
  display: block;
  max-width: 320px;
  max-height: 320px;
  min-width: 220px;
  margin-top: 81%;
  margin-left: 105%;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: 16px;
}


/* Greeting message above login and 
   registration forms */

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}


/* Avatar in login form */

.avatar {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
}


/* Settings for "Register" button */

.btn-secondary:hover:not (.active) {
  background-color: #8E8E8E;
  color: white;
}

.btn-secondary {
  background-color: #B3B3B3;
}


/* Global settings for document.
   We hide overflows by default. */

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  background-color: #E6DDD4;
}


/* The main section of the chat,
   that controlled by chatRoomsCtrl */

.chat-container {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/* Common settings for right and left parts
   of chat interface. */

.side {
  margin: 0;
  background-color: #D9D9D9;
  height: 100%;
  max-width: 40%;
  z-index: 1;
  padding: 0;
  overflow: hidden;
}


/* This section contains user information,
   channel discovery, list of subscribed
   and private channels. */

.side-left {
  padding-bottom: 0.5em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
}


/* Section on the right, contains 
   channel info, unsubscribe button
   and list of users currently online */

.side-right {
  height: 100%;
  padding: 1em;
}


/* Section for the lists of subscribed
   and private channels, without user info */

.side .side-inner {
  padding: 1em;
  position: relative;
  height: 80%;
}


/* Section for user info */

.user-information {
  background-color: #909090;
  padding: 1em;
  height: auto;
}

.user-information h4,
.user-information p {
  color: #FFFFFF;
}


/* Create channel form, visible on button click */

.create-channel {
  position: absolute;
  top: 0px;
  z-index: 1;
  left: 1.5em;
  padding: 1em;
  background-color: #D9D9D9;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}


/* Settings for subscribed, private and public 
   channels lists, and for subscribed users list */

.subscribed-channels,
.private-channels {
  height: 50%;
}

.subscribed-channels,
.private-channels,
.users-subscribed,
.public-channels {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.users-subscribed {
  height: 93vh;
}


/* We hide scrollbar, but it is still working 
   with mouse wheel */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.subscribed-channels:hover,
.private-channels:hover,
.users-subscribed:hover,
.public-channels:hover {
  overflow: auto;
}


/* This is description settings for
   user and current channel*/

.description {
  border-radius: 8px;
  background-color: #FCF8E3;
  color: #2E3436;
  text-align: justify;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  font-family: monospace;
  vertical-align: middle;
  overflow: hidden;
}


/* This row is to show list items on sides */

.side-channel-row {
  width: 100%;
  padding: 0.4em;
  border-radius: 8px;
  font-family: monospace;
  font-weight: bold;
  color: black;
  vertical-align: middle;
  overflow: hidden;
}

.side-channel-row.active {
  background-color: #337AB7;
  color: #A7FF50;
}

.side-channel-row:hover:not(.active) {
  background-color: #B3B3B3;
}

.side-channel-row:hover {
  background-color: #286090;
}


/* Classes to show items on different sides */

.block-left {
  float: left;
  overflow: hidden;
}

.block-right {
  float: right;
  overflow: hidden;
}


/* Settings for channel badges */

.badge-channel {
  height: 20px;
  background-color: transparent;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  color: black;
}

.badge-channel.active {
  color: #A7FF50;
}

.badge-channel-mentioned.active {
  background-color: #F0AD4E;
  color: white;
}

.badge-icon {
  height: 15px;
}


/* This section is shown when user 
   enters channel and includes channel 
   description and unsubscribe button */

.channel-control-section {
  height: 3.7em;
}

.channel-control-btn {
  height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}


/* Settings for shannel discovery field */

.side input[type="text"] {
  height: 2em;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid #B3B3B3;
  background-color: white;
  background-image: url('../img/searchicon.png');
  background-size: contain;
  background-position: 4px 4px;
  background-repeat: no-repeat;
  padding: 6px 6px 6px 50px;
  transition: width 0.4s ease-in-out;
  outline: none;
  font-size: 18px;
}


/* Settings for search results, that shown 
   on public channels discovery */

.search-results {
  padding: 5px;
  border: 2px solid #B3B3B3;
  background-color: #FCF8E3;
  color: #2E3436;
  border-radius: 8px;
  z-index: 50;
  position: absolute;
  top: 0px;
  float: left;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  overflow-y: auto;
}


/* User avatar, as it appears in right side list
   of subscribed users */

.user-avatar-side {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #ffffff;
}


/* Settings for chat area */

.chat-text-area {
  padding: 0px;
  background-color: #E6DDD4;
  height: 100%;
}

.chat-text-area-inner {
  position: relative;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 1em;
  padding-right: 2.5em;
  overflow: scroll;
  overflow-x: hidden;
  height: 95vh;
}

.chat-text-area-inner .messages {
  list-style-type: none;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 0;
}

.chat-text-area-inner .message {
  background-color: #DBF7C6;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-align: justify;
}

.chat-text-area-footer {
  padding-left: 20px;
  padding-right: 20px;
  height: 5vh;
  font-size: 18px;
  background-color: transparent;
}

.chat-text-area-footer input {
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
}

.chat-text-area-footer .btn-chat-send {
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  width: 100px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
}


/* Setting for reply field to message */

.chat-reply {
  width: 100%;
  border-radius: 4px;
}


/* This is headers to show nicknames and message
   time in channel thread */

h5,
h6 {
  display: inline;
}


/* User avatar, as it appears in channel thread */

.user-avatar-chat {
  width: 50px;
  height: 50px;
  border: 1px solid #B3B3B3;
  border-radius: 50%;
  background-color: #ffffff;
}